body{
    width: 90%;
    margin: auto;
}

.container{
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;
}

.listbox{
    width: 35%;
    margin-left: -20px;
    border: 1px ;
    box-shadow: 0 2px 8px #00000026;
}

section{
    height:auto;
    display: flex;
    justify-content: space-around;
    background-color: rgb(53, 147, 255);
}

li{
    font-weight: bolder;
    font-size: 20px;
    color: aliceblue;
}

footer{
    display: flex;
    justify-content: space-between;
    background-color: rgb(209, 214, 216);
    margin-top: 10px;
}

.stat{
    display: flex;
    align-items: center;
    justify-content:space-between;
    margin-bottom: 2px;
    border: 0,5px ;

}


#uncomplited{
    display: flex;
    flex-direction: column;
}
.complete{
    display: none;  
    background-image: url('assets/check-double.svg');
    background-size: contain;
    background-repeat: no-repeat;
    height: 20px;
}

div.select p{
    text-decoration: line-through;
}

.option{
    background-image: url('assets/ellipsis-v.svg');
    background-repeat: no-repeat;
    background-size: contain;
    width: 10px;
    margin-left: 220px;
}

.select{
    /*  */
    display: flex;
    align-items: center;
}

div.deselect p{
    text-decoration: none;
}

.deselect{
    background-color: white;
    display: flex;
    align-items: center;
}

img{
    border: none;
    opacity: 0.4;
    width: 20px ;
    height: 20px;
}

.line{
    display: flex;
    align-items: center;
    margin: auto;
}

.unclickedline{
    background-color: #fff;
    display: flex;
    align-content: center;
}


.check{
    background-image: url('assets/check-circle.svg');
    background-repeat: no-repeat;
    background-size: contain;
}

.trash{
    display: none;
    margin-left: 50px;
    background-image: url('assets/trash-alt.svg');
    background-repeat: no-repeat;
    background-size: contain;
}

form{
    display: flex;
}


#item{
    width: 99%;
    height: 30px;
    border-top: 1px solid rgba(77, 77, 75, 0.408);
    border-bottom: 1px solid rgba(77, 77, 75, 0.39);
    border-right: none;
    border-left: none; 

}

img:hover, button:hover, .remove:hover{
    cursor: pointer;
    opacity: 0.8;
}

.enter{
    background-color: white;
    background-image: url('assets/arrow-turn-down.svg');
    background-repeat: no-repeat;
    background-size: contain;
    border: none;
    width: auto;
    margin-top: 5px;
    margin-left: -20px;
    opacity: 0.4;
    transform: rotate(0.25turn);
}

.clickedline{
    justify-content: space-between;
    background-color: rgb(246, 251, 174); 
    display: flex;
    align-items: center;
}



.remove{
    display: flex;
    justify-content: center;
    height: 30px;
    padding-top: 10px;
    background-color: rgb(218, 222, 226);
    color:rgb(92, 92, 92) ;

}



.remove:hover{
    color: black;
    text-decoration: underline solid;
}